// 漢堡選單
@media(max-width:767px){
   
   .b-a {
      transition: all .25s;
      content: "";
      position: absolute;
      right: 0;
      height: 6px;
      width: 42px;
      border-radius: 15px;
      background-color: #fff;
   }
   .menu-collapsed {
      transition: all .25s;
      position: fixed;
      top: 10px;
      right: 9px;
      height: 44px;
      width: 44px;
      z-index: 1;
      cursor: pointer;
      ul {
         transition: all 0s;
         position: fixed;
         left: -9000px;
      }
   } 
   .bar {
      // 漢堡選單 尺寸、距離
      color: #fff;
      width: 42px;
      height: 6px;
      @extend .b-a;
      transition: all .25s;
      content: "";
      position: absolute;
      right: 0;
      border-radius: 15px;
      background-color: #fff;
      position: fixed;
      right: 18px;
      top: 32px;
      z-index: 10;
      &:before {
         @extend .b-a;
         top: -14px;
      }
      &:after {
         @extend .b-a;
         top: 14px;
      }
   }
   .b-a-expanded {
      transition: all .25s;
      top: -0px;
   }

   .menu-expanded {
      transition: all .25s;
      text-align: center;
      // line-height: 100px;
      width: 80%;
      height: 100%;
      
      border-radius: 0px;
      top: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.85);
      ul {
         transition: all 0s;
         position: relative;
         left: 0;
         z-index: 5;
      }
      a {
         transition: all .15s;
         text-decoration: none ;
         font-size: 2.3em;
         color: #fff;
         display:block;
         &:hover {
            background-color:rgba(white, .8);
            transition: all .15s;
            letter-spacing: 2px;
            color:#333;
            border: 1px solid rgba(255, 255, 255, .15);
         }
      }
      .bar {
         background-color: transparent;
         transition: all .25s;
         &:before {
            @extend .b-a-expanded;
            transform: rotate(45deg);
         }
         &:after {
            @extend .b-a-expanded;
            transform: rotate(-45deg);
         }
      }
   }
   .header{
      height: 10%;
   }
   .logo{
      margin-top: 6.5%;
      margin-left: 6%;
   }
   
   .menu{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 0px;
   }
   .first-menu{
      margin-top: 20%;
   }
   .menu > li > a{
      border-bottom: 1px dashed #fff;
      padding: 15% 55px;
   }
   .submenu > li > a{
      border-bottom: 1px solid #000;
      background-color: #fff;
      color: #000;
      padding: 10% 55px;
      font-size: 1.7em;
   }
   .submenu > li > a{
      border-left: 0px solid #fff;
      border-right: 0px solid #fff;
      border-bottom: 1px solid #000;
      background-color: #fff;
      color: #000;
      padding: 18px 48px;
   }
   .menu-expanded .submenu{
      height: 0;
      overflow: hidden;
      transition: 0.3s ease;
      
   }
   .menu-expanded .openMenu{
      height: 200px;
      transition: 0.3s ease;
      
   }
   .banner{
      margin-top: 20%;
   }
}

@media(max-width:320px){
   .header{
      padding: 10% 0;
   }
   .logo{
      margin-top: -4%;
      margin-left: 4%;
   }
   .bar{
      top: 5%;
      right: 5%;
   }
   .submenu > li > a{
      font-size: 1.5em;
   }
   .banner{
      margin-top: 20%;
   }
   .menu > li > a{
      padding: 8%;
   }
   .first-menu{
      margin-top: 28%;
   }
   .menu-expanded .openMenu{
      height: 190px;
   }
}